@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/BricolageGrotesque-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.font-bricolage {
  font-family: 'Bricolage Grotesque', sans-serif;
}