@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bg-color: #f9fafb;
  --bg-color-right: #FBE2E3;
  --bg-color-left: #FFE0F0;
  --primary-color: #FF96CC;
  --secondary-color: #F5D0FE;
  --tertiary-color: #A83E75;
}

html.dark {
  --bg-color: #12102B;
  --bg-color-right: #18163D;
  --bg-color-left: #18163D;
}

.borderBlack {
  @apply border border-black/10;
}